# Basic
node_modules/
dist/
web-build/

# Expo
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Keys
GoogleService-Info.plist
pc-api-6220973880337793278-189-accdef0bd18c.json

# macOS
.DS_Store

# Firebase
.firebase
