<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644824745090-jet3tns4eeu57dntl2vtv569pjjd4m0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644824745090-jet3tns4eeu57dntl2vtv569pjjd4m0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDjNnKbmznSyq127aO1ITg4GoCBC004Fos</string>
	<key>GCM_SENDER_ID</key>
	<string>644824745090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expertgarden.expertgarden</string>
	<key>PROJECT_ID</key>
	<string>expert-garden</string>
	<key>STORAGE_BUCKET</key>
	<string>expert-garden.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644824745090:ios:c5982311d83014dae4e09b</string>
</dict>
</plist>